.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header li,
.App-header li a { /* Targeting both li and a tags inside .App-header */
  color: white; /* Sets text color to white */
  text-decoration: none; /* Optional: Removes the underline from hyperlinks */
}

.App-header li a:hover {
  color: #61dafb; /* Optional: Changes color on hover, you can choose any color */
}

.App-link {
  color: #61dafb;
}

.Mexico-image {
  width: 80%; /* Adjust width to your preference */
  max-width: 600px; /* Adjust max-width to your preference */
  height: auto; /* Maintain aspect ratio */
}

@media (max-width: 768px) { /* Adjust breakpoint to your preference */
  .Mexico-image {
    width: 95%; /* Adjust width for smaller devices */
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
